@charset "utf-8";
/*Designed by JJ Ying
http://IconMoon.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', sans-serif;
	text-align: left;
	color: #fff;
	line-height: 1;
	background: #333;
	--packageWidth: 87vw;
	--envelopeWidth: 70vw;
	--letterWidth: 50vw;
}
.main{
	height: 1300vh;
	transition: all .2s ease-out;
}
.bg{
	position: fixed;
	left: 0; top: 0;
	width: 100vw; height: 100vh;
	background: url(bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
}
.wrapper{
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center; align-items: center;
}
/* ~Package */
.package-wrapper{
	z-index: 2;
}
.package{
	width: var(--packageWidth); height: calc(var(--packageWidth) * 1.16666);
	perspective: 1000px;
}
.content > .inner{
	position: relative;
}
.content-part{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.package-top{
	width: 100%; height: 20%;
	transform-origin: top;
	background: url(package-top.png) no-repeat center center;
	background-size: cover;
	/* box-shadow: 0 10px 30px rgba(0,0,0,.9); */
}
.package-cover{
	background: url(package.jpg) no-repeat;
	background-size: cover;
}

/* ~envelope */
.envolope-wrapper{
	z-index: 3;
}
[data-stage="1"] .envolope-wrapper{
	z-index: 1;
}
[data-stage="2"] .envolope-wrapper{
	z-index: 6;
}
.envelope{
	background: #fff;
	height: calc(var(--envelopeWidth) * 0.5);
	width: var(--envelopeWidth);
	transition: all .1s ease-out;
	transform: rotate(33deg);
	/* box-shadow: 0 15px 20px rgba(0,0,0,.4); */
	box-shadow:0px 34px 33px -5px rgba(0,0,0,.29),0px 17px 28.73px -5px rgba(0,0,0,.44);
}
.envelope > .inner{
	position: relative;
	width: 100%; height: 100%;
	perspective: 1000px;
}
.envelope-top{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 60%;
	background: #f4f3e0;
	transform-origin: top;
	/* transition: all .1s ease-out; */
	opacity: 1;
	/* backdrop-filter: blur(4px); */
}
[data-stage = "2"] .envelope-top{
	z-index: 14;
}
/* ~Letter */
.letter{
	display: block;
	width: calc(var(--envelopeWidth) * .4); height: calc(var(--envelopeWidth) * .6);
	transition: all .1s ease-out;
	background: #2a2a2a url(letter.jpg) center center no-repeat;
	background-size: contain;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 50% 50%;
	left: calc(var(--envelopeWidth) * .3); top: calc(var(--envelopeWidth) * .05 * -1);
	z-index: 8;
}
[data-stage = "1"] .letter{
	display: none;
}
[data-stage = "2"] .letter{
	z-index: 10;
}
[data-stage = "4"] .letter{
	transform: scale(2.6) translateY(-12vh) rotate(0) !important;
	transition: all .6s cubic-bezier(.58,.03,.08,.99);
	animation: .6s addMask ease-out both;
}
@keyframes addMask {
	0%{}
	55%{box-shadow:0px 43px 33px -11px rgba(0,0,0,.24),0px 21.50px 28.73px -11px rgba(0,0,0,.36);}
	100%{box-shadow:0 0 0 30vh #2a2a2a;z-index: 30;}
}
.envelope-cover{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url(envelope-cover.png) bottom no-repeat;
	background-size: contain;
	pointer-events: none;
}
[data-stage = "2"] .envelope-cover,
[data-stage = "3"] .envelope-cover,
[data-stage = "4"] .envelope-cover{
	z-index: 13;
}
.letter > .inner{
	position: relative;
	width: 100%; height: 100%;
}
.light{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: 0;
}
.light img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
[data-stage = "4"] .light-1{
	animation: neon-show-1 .6s ease-in-out .8s both;
}
[data-stage = "4"] .neon-2{
	animation: neon-show-2 .8s ease-in-out .8s both;
}
@keyframes neon-show-1 {
	0%{opacity: 0;}
	10%{opacity: .6;}
	5%{opacity: .2;}
	21%{opacity: .5;}
	33%{opacity: .1;}
	45%{opacity: .8;}
	75%{opacity: .4;}
	95%{opacity: .8;}
	100%{opacity: 1;}
}
@keyframes neon-show-2 {
	0%{opacity: 0;}
	20%{opacity: .6;}
	26%{opacity: .2;}
	29%{opacity: .5;}
	33%{opacity: .1;}
	41%{opacity: .8;}
	67%{opacity: .4;}
	88%{opacity: .8;}
	100%{opacity: 1;}
}

/* ~Indicator */
.indicator{
	position: fixed;
	bottom: 1rem; left: 0;
	width: 100vw;
	height: 1rem;
}
.indicator > .inner{
	background: #0f0;
	width: 1rem; height: 1rem;
}
