@charset "utf-8";
/*Designed by JJ Ying
http://IconMoon.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', sans-serif;
	text-align: left;
	color: #fff;
	line-height: 1;
	background: #1f1e24;
	--packageWidth: 87vw;
	--envelopeWidth: 70vw;
	--letterWidth: 50vw;
}
#desktop{
	display: none;
}
.main{
	height: 2400px;
	transition: all .2s ease-out;
}
.bg{
	position: fixed;
	left: 0; top: 0;
	width: 100vw; height: 100vh;
	background: url(bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background: #1f1e24;
}
.wrapper{
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center; align-items: center;
}
/* ~Package */
.package-wrapper-3{
	display: none;
}
.package{
	width: var(--packageWidth); height: calc(var(--packageWidth) * 1.4);
}
.package-1{
	background: url(package-2.png) no-repeat center center;
	background-size: contain;
}

.package-2{
	background: url(package.jpg) no-repeat center bottom;
	background-size: contain;
}


/* ~envelope */
.envelope{
	height: calc(var(--envelopeWidth) * 0.5);
	width: var(--envelopeWidth);
	transition: all .1s ease-out;
	transform: rotate(55deg);
	/* box-shadow: 0 15px 20px rgba(0,0,0,.4); */
}
.envelope > .inner{
	position: relative;
	width: 100%; height: 100%;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.envelope-top{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url(envelope-top.png) no-repeat center top;
	transform-origin: top;
	background-size: cover;
	opacity: 1;
	pointer-events: none;
	/* transform-style: preserve-3d; */
}
#envelope-top-1{
	backface-visibility: hidden;
}
#envelope-top-2{
	background-image: url(envelope-top-2.png);
	box-shadow: 0 -2px 0 #38363e;
}
/* ~Letter */
.letter{
	display: block;
	width: calc(var(--envelopeWidth) * .4); height: calc(var(--envelopeWidth) * .78);
	transition: all .3s ease-out;
	background: #38363e url(letter.jpg) center center no-repeat;
	background-size: contain;
	position: absolute;
	transform: rotateZ(90deg);
	transform-origin: 50% 50%;
	left: calc(var(--envelopeWidth) * .3); top: calc(var(--envelopeWidth) * .14 * -1);
	transform-style: preserve-3d;
}
.envelope-cover{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url(envelope-cover.png) bottom no-repeat;
	background-size: cover;
	pointer-events: none;
}
.envelope-bg{
	background: #201f24;
	box-shadow:0px 34px 33px -5px rgba(0,0,0,.29),0px 17px 28.73px -5px rgba(0,0,0,.44);
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.letter > .inner{
	position: relative;
	width: 100%; height: 100%;
}
.light{
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.light img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.neon-1{animation: neon-1 1.2s ease-in-out .6s infinite both;}
.neon-2{animation: neon-1 1.2s ease-in-out 1.2s infinite both;}
@keyframes neon-1 {
	0%{opacity: 0;}
	2%{opacity: .9;}
	4%{opacity: .4;}
	6%{opacity: .7;}
	7%{opacity: .3;}
	8%{opacity: 1;}
	45%{opacity: 1;}
	48%{opacity: .5;}
	50%{opacity: 0;}
	100%{opacity: 0;}
}
[data-stage = "4"] .final > .inner{
	animation: neon-show .2s ease-in-out 1.2s both;
}
@keyframes neon-show {
	0%{opacity: 0;}
	33%{opacity: .6;}
	66%{opacity: .1;}
	100%{opacity: 1;}
}

/* ~Indicator */
.indicator{
	position: fixed;
	bottom: 1rem; left: 0;
	width: 100vw;
	height: 1rem;
}
.indicator > .inner{
	background: #0f0;
	width: 1rem; height: 1rem;
}
/* ~Final */
.final-wrapper{
	pointer-events: none;
	opacity: 0;
	z-index: 90;
	transform: translateZ(.6px);
}
.final{
	width: calc(var(--envelopeWidth) * .4); height: calc(var(--envelopeWidth) * .78);
	width: 100vw; height: 195vw;
	background: #38363e url(letter.jpg) center center no-repeat;
	background-size: contain;
	display: block;
}
.final > .inner{
	width: 100%; height: 100%;
}
/* ~Z-index */
[data-stage = "1"] .package-wrapper-3{display: flex;}
[data-stage = "1"] #envelope-top-2{display: none;}
/* [data-stage = "3"] #envelope-top-1{display: none;} */
[data-stage = "1"] .letter{
	transform: rotate(90deg);
	display: none;
}
[data-stage = "1"] .final,
[data-stage = "2"] .final{display: none;}
[data-stage = "4"] #envolope-cover{
	opacity: 0;
	transition-duration: .2s;
}
[data-stage = "4"] .letter{
	transform: translateY(-50vh) scale(3.57) rotate(0) !important;
	transition: all 1.2s cubic-bezier(.58,.03,.08,.99);
	animation: 1.2s addMask ease-out both;
}
@keyframes addMask {
	0%{}
	55%{box-shadow:0px 43px 33px -11px rgba(0,0,0,.24),0px 21.50px 28.73px -11px rgba(0,0,0,.36);z-index: 6;}
	100%{box-shadow:0 0 0 30vh #38363e;z-index: 30;}
}
[data-stage = "4"] .final-wrapper{
	animation: 1.2s showFinal ease-out both;
	pointer-events: auto;
}
@keyframes showFinal {
	0%{pointer-events: none;}
	85%{opacity:0;pointer-events: auto;}
	100%{opacity: 1;}
}

/* ~Substage */
[data-sub = "1"] #envelope-bg{transform: translateZ(0);z-index: 1;}
[data-sub = "1"] #envelope-top-1{z-index: 20;}
[data-sub = "1"] #envelope-top-2{z-index: 19;}
[data-sub = "1"] #letter{transform: translateZ(.1px) rotateZ(90deg);z-index: 5;}
[data-sub = "1"] #envelope-cover{transform: translateZ(.2px);z-index: 6;}

[data-sub = "2"] #envelope-bg{z-index: 0;}
[data-sub = "2"] #envelope-top-1{z-index: 2; opacity: 0;transition: all .2s ease-out;}
[data-sub = "2"] #envelope-top-2{z-index: 3;}
[data-sub = "2"] #letter{transform: translateZ(.1px) rotateZ(90deg);z-index: 5;}
[data-sub = "2"] #envelope-cover{transform: translateZ(.2px);z-index: 6;}

[data-sub = "3"] #envelope-bg{z-index: 0;transform: translateZ(0)}
[data-sub = "3"] #envelope-top-1{display: none;}
[data-sub = "3"] #envelope-top-2{z-index: 2;transform: rotateX(180deg);}
/* [data-sub = "3"] #letter{animation: letterUp .6s cubic-bezier(.58,.03,.08,.99) both;z-index: 5;} */
[data-sub = "3"] #letter{transform: translateY(-8vh) rotateZ(75deg) translateZ(.1px);z-index: 5;}
[data-sub = "3"] #envelope-cover{z-index: 6;transform: translateZ(.15px)}

[data-sub = "4"] #envelope-top-1{display: none;}

@keyframes letterUp {
	0%{transform: rotateZ(90deg) translateZ(.1px);}
	/* 66%{transform: translateY(-3vh) rotateZ(85deg);}
	77%{transform: translateY(-4vh) rotateZ(67deg);}
	88%{transform: translateY(-5vh) rotateZ(80deg);} */
	100%{transform: translateY(-8vh) rotateZ(75deg) translateZ(.1px);}
}

/* ~Desktop */
[data-mobile = "0"] #main{
	display: none;
}
[data-mobile = "0"] #desktop{
	display: block;
	position: fixed;
	left: 0; top: 0;
	width: 100vw; height: 100vh;
	background: #0f0;
}
